.alert-noti {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 400px;
    word-wrap: break-word;
    /* height: 60px; */
    right: 0;
    margin-right: 10px;
    position: absolute;
    z-index: 2;
    font-size: 14px;
    border-radius: 5px;
    opacity: 1;
    animation: fade 2s linear;
}

.pointer:hover {
    cursor: pointer;
}

.alert-yellow {
    background-color: #ffeb3b;
    text-shadow: white 2px 2px 2px;
    color: black;
}

.alert-green {
    background-color: aquamarine;
    text-shadow: white 2px 2px 2px;
    color: black;
}

.close-noti {
    cursor: pointer;
}

.no-underline-black {
    text-decoration: none;
    color: black;
}

.no-underline-black:hover {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.no-underline-white {
    text-decoration: none;
    color: white;
}

.no-underline-white:hover {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.uplode-btn {
    margin-top: 3px;
}

.radio-md {
    height: 20px;
    width: 20px;
}

.td-width-70 {
    width: 70px;
}

.td-width-120 {
    width: 120px;
}

.loading {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 20;
    margin-left: 45%;
    margin-top: 200px;
    display: none;
    color: #778899;
}

.box-sort {
    border: lightgray solid thin;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.box-sort:hover {
    border: gray solid thin;
    box-shadow: lightgray 2px 2px 3px;
}

@media screen and (max-width: 768px) {
    .fileUpload {
        font-size: 12px;
    }
    .uplode-btn {
        margin-top: 8px;
    }
    .loading {
        margin-left: 35%;
        width: 150px;
        height: 150px;
    }
}